.git
.github
.next
.turbo
coverage
dist
build
node_modules
**/node_modules
**/.next
**/.turbo
**/coverage
**/dist
**/build
playwright-report
test-results
.env
.env.*
!.env.example
package-lock.json
pnpm-debug.log*
*.log
